/* NAVBAR fix */
body {
    padding-top: 56px;
}

/* NAV hover */
.navbar-dark .navbar-nav .nav-link:hover {
    background: rgba(255,255,255,0.1);
    border-radius: .25rem;
}

/* Sidebar */
#sidebar {
    width: 60px;
    background: #141414;
    position: fixed;
    top: 56px !important;
    bottom: 0;
    overflow-y: auto;
    transition: width .25s;
    white-space: nowrap;
    z-index: 1000;
}

#sidebar.full {
    width: 300px;
}

/* Content */
#content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left .25s;
}

#content.full {
    margin-left: 300px;
}

/* Sidebar link */
#sidebar .nav-link {
    color: #ccc;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

#sidebar .nav-link:hover {
    background: rgba(255,255,255,0.1);
    color: #fff;
}

/* icon */
#sidebar i {
    width: 25px;
    text-align: center;
    font-size: 18px;
    margin-right: 12px;
}

/* Mini 模式隱藏文字 */
#sidebar .text {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

/* Full 模式顯示文字 */
#sidebar.full .text {
    opacity: 1;
    visibility: visible;
}

/* Submenu */
.submenu {
    display: none;
}

.submenu .nav-link {
    padding-left: 48px !important;
    height: 48px;
}

.menu-arrow {
    margin-left: auto;
    transition: .3s;
}

.rotate {
    transform: rotate(90deg);
}


#sidebar {
    top: 56px;
    width: 60px;
}
#sidebar.full {
    width: 300px;
}

/* content 跟著移動 */
#content.full {
    margin-left: 300px;
}